In [2]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [6]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [7]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [9]:
# 아래에 코드를 작성하세요.
', '.join(['1', '2', '3'])

'1, 2, 3'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [14]:
# 아래에 코드를 작성하세요.
'apple'.replace('p', 'a', 1) # a 한개만 바뀜

'aaple'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [20]:
# 아래에 코드를 작성하세요.
'               hi'.strip()

'hi'

In [21]:
'                    hi             '.rstrip()

'                    hi'

In [27]:
'안녕하세요^^'.rstrip('^^')

'안녕하세요'

In [29]:
'aabbaabbaa'.lstrip('aa')

'bbaabbaa'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [32]:
# 아래에 코드를 작성하세요.
'wow!'.find('w')

0

In [40]:
'wow!'.find('a')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [41]:
# 아래에 코드를 작성하세요.
'wow!'.index('w')

0

In [45]:
'wow!'.find('a')

-1

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [47]:
# 아래에 코드를 작성하세요.
'3 10'.split()

['3', '10']

In [51]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [52]:
inputs = '3 10'
a, b = map(int, inputs.split())
print(a, b)

3 10

In [53]:
'a_b_c'.split('_')

['a', 'b', 'c']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [55]:
'a'.isalpha()

True

In [62]:
'0'.isdigit()

True

In [63]:
'0asdfasdf'.isdigit()

False

In [56]:
'01110'.isnumeric()

True

In [60]:
'0111'.isuper()

AttributeError: 'str' object has no attribute 'isuper'

In [61]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [76]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [77]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원 카페')

In [78]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [79]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네']

In [80]:
caffe.extend(['빽다방', '설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네', '빽다방', '설빙']

In [81]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네', '빽다방', '설빙', '드롭탑']

In [82]:
# append와 비교해봅시다.
caffe.append(['동네카페'])
caffe

['starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원 카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페']]

In [83]:
caffe.extend('커피그루나루')
caffe

['starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원 카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [86]:
a = '안녕하세요, 여러분'
a.split(',')
result = []
result.extend(a)
result

['안', '녕', '하', '세', '요', ',', ' ', '여', '러', '분']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [87]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0, 'hi')
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원 카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [89]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe), 'bye')
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원 카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루',
 'bye']

In [90]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+1000, '안녕')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네', '빽다방', '설빙', '드롭탑', ['동네카페'], '커', '피', '그', '루', '나', '루', 'bye', '안녕']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [91]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [92]:
# 중복된 값 1을 삭제 해봅시다. 중복된 값 하나만 지움
numbers.remove(1)
numbers

[2, 3, 1, 2]

In [93]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
numbers

[2, 3, 2]

In [94]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
numbers

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [95]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [96]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

1

In [97]:
a

[2, 3, 4, 5, 6]

In [100]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
member = ['연용흠', '박태수', '염동환', '토마스']

In [101]:
bye_member = member.pop()

In [103]:
print(f'{bye_member}님 이용해주셔서 감사합니다.')

토마스님 이용해주셔서 감사합니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [104]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [105]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

2

In [106]:
a.index(10)

ValueError: 10 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [111]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [112]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):
    a.remove(1)
print(a)

[2, 5, 5]

In [113]:
# 모두 삭제되었는지 검증해봅시다.
1 in a

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [114]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[42, 10, 15, 28, 2, 38]

In [115]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

[2, 10, 15, 28, 38, 42]

In [116]:
# sort는 반환값이 None이고 원본 자체를 바꾸기 때문에, 아래처럼 작성하면 안된다.
lotto = lotto.sort()
print(lotto)

None

In [117]:
# sorted()는 원본은 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1, 5, 3]
sorted(a)
print(a)

[1, 5, 3]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [118]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [121]:
classroom.reverse()

In [122]:
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [126]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [145]:
# b의 값을 바꾸고 a를 출력해봅시다.
copied_list[0] = '연용흠'
copied_list

['연용흠', 2, 3]

In [140]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

14315648 14315648

In [134]:
# 숫자를 확인해봅시다.
a = 3
b = a
b = 5
print(a, b)

3 5

In [143]:
# 딕셔너리도 확인해봅시다.
a = {'apple' : '사과', 'banana' : '바나나'}
b = a
b['apple'] = '맥북'
print(a, b)

{'apple': '맥북', 'banana': '바나나'} {'apple': '맥북', 'banana': '바나나'}

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [3]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [146]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [156]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = list(a) # 주소 자체가 달라짐
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [157]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [151]:
# 얇은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [154]:
# 2차원 리스트를 복사해봅시다.
# 리스트 안에 리스트를 복사하면 리스트 자체를 복사하는게 아니라, 리스트 주소를 저장함
a = [1, 2, [1, 2]]
b = a[:] # [:]는 그대로 복사하는 것
b[2][0] = 3 # 동일한 객체를 참고하기 때문에 문제 발생
print(a, b)

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [8]:
a = [1, 2, [1, 2]]
b = a[:]
b[2] = [0, 3] # 새로운 리스트를 만들어서 바꾸는 것, a에 영향이 없음
print(a, b)

[1, 2, [1, 2]] [1, 2, [0, 3]]

In [7]:
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3 # 원소 값 자체를 바꿈
print(a, b)

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [1]:
# 얇은 복사 - 2차원 리스트, 첫번째만 값을 copy 했기 때문(주소정보저장)
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

NameError: name 'IFrame' is not defined

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [153]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a, b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [ ]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

In [155]:
map(int, [1, 2])

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [158]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [182]:
numbers = range(1,11)

In [183]:
# 기존의방법
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [184]:
# List Comprehension
[number ** 3 for number in numbers]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [178]:
a = range(1,11)

In [185]:
# 기존의방법
even_list = []
for number in a:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

[2, 4, 6, 8, 10]

In [201]:
# List Comprehension
[number for number in a if not number % 2]

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [202]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [207]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [209]:
# List comprehension을 활용하여 만들어주세요.
[(boy, girl) for boy in boys for girl in girls]

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [222]:
# 반복문을 활용하여 만들어주세요.
result = []
for z in range(1, 50):
    for y in range(1, z):
        for x in range(1, y):
            if z ** 2 == (x ** 2) + (y ** 2):
                result.append((x, y, z))
print(sorted(result))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [223]:
# List comprehension을 활용하여 만들어주세요.
sorted([(x, y, z) for z in range(1, 50) for y in range(1, z) for x in range(1, y) if z ** 2 == x ** 2 + y ** 2])

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [235]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
result = ''
for word in words:
    if word not in 'aeiou':
        result += word
print(result)

Lf s t shrt, y nd pythn!

In [236]:
''.join([word for word in words if word not in 'aeiou'])

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

`## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [12]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
my_dict.pop('apple')

'사과'

In [13]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('apple')

KeyError: 'apple'

In [16]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', 0)

0

In [14]:
a = my_dict.pop
print(a)

<built-in method pop of dict object at 0x0502F6F0>

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [19]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [23]:
my_dict.update(apple = '사과야')
print(my_dict)

{'apple': '사과야', 'banana': '바나나', 'melon': '멜론'}

In [25]:
my_dict.update(banana = '바나나야')

In [29]:
my_dict.update(grape= '포도')
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [36]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [37]:
my_dict.get('pineapple')

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [39]:
# dictionary comprehension
[x**3 for x in range(1, 5)]

[1, 8, 27, 64]

In [42]:
{x : x**3 for x in range(1, 15)}

{1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744}

In [45]:
{char : 0 for char in 'abcdef'}

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [49]:
result = {}
for x in range(1, 5):
    result[x] = x ** 3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [47]:
result = {}
for char in 'abcd':
    result[char] =0
print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [60]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [70]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
{key: value for key, value in dusts.items() if value > 80}

{'대전': 82, '중국': 200}

In [76]:
# 잘 모르겠으면 for ~ in ~ 부터 설정하고 찾아가기
{city: dusts[city] for city in dusts if dusts[city] > 80}

{'대전': 82, '중국': 200}

In [71]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
{key : '나쁨' if value > 80 else '보통' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [80]:
{key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [79]:
value = 82
'나쁨' if value > 80 else '보통'

'나쁨'

In [82]:
# elif 도 사용할 수 있습니다.
{key : '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [84]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [86]:
a.add('파인애플')
print(a)
a.add('파인애플')
print(a)
# set은 중복된 값이 있을 수 없다

{'수박', '사과', '파인애플', '바나나'}
{'수박', '사과', '파인애플', '바나나'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [87]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)

{'마', '토', '딸', '수박', '기', '바나나', '사과'}

In [88]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update(('토마토', '딸기')) # 값을 여러개를 넣을 때 튜플이나 리스트 등으로 묶어서 넘겨야 원하는 대로 출력됨
print(a)

{'토마토', '수박', '바나나', '딸기', '사과'}

In [90]:
# *others 이기 때문에 여러가지 형태로 넣을 수 있다
a = {"사과", "바나나", "수박"}
a.update(('토마토',), ('딸기',)) # 값을 여러개를 넣을 때 튜플이나 리스트 등으로 묶어서 넘겨야 원하는 대로 출력됨
print(a)

{'토마토', '수박', '바나나', '딸기', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [92]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)

{'수박', '바나나'}

In [96]:
a.remove('파인애플')

KeyError: '파인애플'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [95]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플')

In [ ]:
# pop default 값을 선언하면 오류가 없음
# get(key), discard는 default 값이 없으면 None 반환(오류x)
# [key], remove는 default 값이 없을 때 오류 발생

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [101]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [108]:
# list와 map 모두 아래와 같음
result = []
for elem in a:
    result.append(str(elem))
print(result)

['1', '2', '3']

In [102]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [105]:
''.join([str(elem) for elem in a])

'123'

In [107]:
''.join(map(str, a))

'123'

In [110]:
list(map(str, a))

['1', '2', '3']

In [111]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b, c, d = map(int, a)
print(b, c, d)

1 2 3

In [117]:
numbers = list(map(int, a))

In [114]:
# list comprehension
[int(elem) for elem in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [115]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [118]:
[cube(elem) for elem in numbers]

[1, 8, 27]

In [123]:
# 함수를 함수의 인자로 넘겨줄 수 있다
list(map(cube, numbers))

[1, 8, 27]

In [119]:
my_sum = sum

In [121]:
# 함수가 알아서 저장됨
my_sum([1, 2, 3])

6

In [ ]:
# 일등 함수 참조

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [124]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [128]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
result = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [130]:
result = []
for girl, boy in zip(girls, boys):
    result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [131]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [136]:
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [138]:
x, y = 1, 2
print(x, y)
# 다 비슷한 패턴

1 2

* 아래와 같이 사용가능하다.

In [139]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [141]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [142]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [143]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [155]:
def even(n):
    return not n%2

In [158]:
list(filter(even, range(1, 10)))

[2, 4, 6, 8]

In [159]:
# 다음의 list comprehension과 동일하다.
[num for num in range(1, 10) if even(num)]

[2, 4, 6, 8]